Backend_port=<backend_port>
Frontend_url=<frontend_port>
mongo_uri=<mongo_uri>
Backend_url=<backend_route>

JWT_SECRET=<JWT_secret_key>
REFRESH_SECRET=<JWT_refresh_secret_key>
NODE_ENV=development

# Cloudinary API
CLOUD_NAME=<api_name>
CLOUDINARY_API_KEY=<api_key>
CLOUDINARY_API_SECRET=<api_secret>


# Mail API
HOST= <host_id>
SERVICE= <service>
EMAIL_PORT= <port>
SECURE=true
USER_MAIL= <user_mail>
MAIL_PASSWORD= <user_mail_password>

# StripeAPI
Stripe_API=<stripe_papi_key>
Stripe_Secret=<stripe_apiii_secret>


